{
    email you@example.com
}

http://localhost, http://178.154.240.194 {
    root * /var/www/html/public
    encode gzip
    file_server

    php_fastcgi app:9000

    log {
        output stdout
        format json
    }
}
